<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!--로고그림-->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top"><%=image_tag "wku2.png"%></a>
                <a class="navbar-brand cross" href="#page-top"><%= image_tag "cross.png"%></a>
                <a class="navbar-brand" href="#page-top"><%= image_tag "chong.png"%></a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home">
                        <a href="#page-top">홈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#iljung">축제일정</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#lineup">라인업</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nanjang">난장정보</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#jujum">주점정보</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#contact">Won Talk</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="iljung">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>축제일정</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="iljung-div">
                    <div class="iljung-date-div"><p class="btn btn1" rel="div1">5.23(화)</p></div>
                    <div class="iljung-date-div"><p class="btn btn1" rel="div2">5.24(수)</p></div>
                    <div class="iljung-date-div"><p class="btn btn1" rel="div3">5.25(목)</p></div>
                </div>
                <div class="iljung2-div">
                    <div id="div1"  class="iljung-iljung-div">
                        <%= image_tag "cabin.png"%>
                    </div>
                    <div id="div2"  class="iljung-iljung-div">
                        <%= image_tag "cake.png"%>
                    </div>
                    <div id="div3"  class="iljung-iljung-div">
                        <%= image_tag "circus.png"%>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="lineup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>라인업</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="lineup-div">
                    <div class="lineup-date-div"><p class="btn btn2" rel="div1-2">5.23(화)</p></div>
                    <div class="lineup-date-div"><p class="btn btn2" rel="div2-2">5.24(수)</p></div>
                    <div class="lineup-date-div"><p class="btn btn2" rel="div3-2">5.25(목)</p></div>
                </div>
                <div class="lineup2-div">
                    <div id="div1-2"  class="lineup-lineup-div">
                        <%= image_tag "cabin.png"%>
                    </div>
                    <div id="div2-2"  class="lineup-lineup-div">
                        <%= image_tag "cake.png"%>
                    </div>
                    <div id="div3-2"  class="lineup-lineup-div">
                        <%= image_tag "circus.png"%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--난장섹션임.-->
    <section class="success2" id="nanjang">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>난장정보</h2>
              <hr class="star-light">
          </div>
      </div>
      
      <!--모달시작-->
      <div class="row">
      <div class="col-md-3">
      <%= image_tag "by.jpg", id: "myImg", alt: "Trolltunga, Norway"%>
      </div>
      <div class="col-md-3">
      <%= image_tag "by.jpg", id: "myImg", alt: "Trolltunga, Norway"%>
      </div>
      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
    <!--모달 끝-->
    </div>
    </section>
    
<!--주점섹션임-->
    <section class="success3" id="jujum">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>주점정보</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
        <!--지도 섹션임-->
        <div id="map"></div>
        <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=da11ef6f3596510174ab5e0c45bb6759"></script>
        <!-- 주점정보 -->
        
        <div class="acc">
          
          <% @jujums.each do |j| %>
            <button class="accordion" id="acc-panel<%=j.id%>-btn"><%= j.name%> <span>&#9662;</span></button>
            <div class="panel" id="acc-panel<%= j.id%>" >
              <button class="like-btn"value="<%= j.id%>"><img src="/img/like.png"/></button>
              <input type="number" id="<%= j.id%>-hidden"value="<%=@merong_count[j.id]%>" style="display:none;"/>
              <input type="hidden" value="<%= @merong_no[j.id]%>" id="<%=j.id%>-no"/>
              <span id="<%= j.id%>-count" value="<%= j.id%>"><%=@merong_count[j.id]%></span>
              <img src="/img/portfolio/cabin.png"/>
              <p>컴공은짱이얌 ㅎㅅㅎㅅㅎㅅㅎ~!!!</p>
            </div>
          <% end %>
          
        </div>
    </div>
    </section>



    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:pink">Won Talk</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <!-- sns 기능 -->
                <div id="lv-container" data-id="city" data-uid="MTAyMC8yODU2OC81MTM5">
                <script type="text/javascript">
                (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];
                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                
                e.parentNode.insertBefore(j, e);
                })(document, 'script');
                </script>
                <noscript>라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
                </div>
                <!-- 시티 설치 코드 끝 -->
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>멋쟁이사자처럼 at 원광대학교</h3>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Developer</h3>
                        <div class="fb-like" data-href="https://wku-fastival-social-science.c9users.io/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
                        <ul class="list-inline">
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/17884116_1155365071258305_7640656070213554283_n.jpg?oh=d7ee30ce75966b0707b12fd1dafbc8e6&oe=597B8AFC" alt="cha" />
                                 <br>차건우
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/16114004_1108042159321612_637880479576024445_n.jpg?oh=31d20445e69ce335167a7f4945d76337&oe=59B60599" alt="nam" />
                                 <br>남상현
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-1/17800320_1166111836848728_4569011044192407070_n.jpg?oh=2536303c91026ba9b322e1f8f80c856c&oe=5978BF64" alt="myeong" />
                                 <br>이명아
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t31.0-8/14195181_1035093266609323_837459870920167728_o.jpg?oh=8f4ef0bd77e7a9432cb838e5f1c2ab64&oe=59B5ED4F" alt="park" />
                                 <br>박진철
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/16832183_1197176993733617_187007560539027865_n.jpg?oh=3037308b43d0b6bc0536218f1baab46d&oe=59825850" alt="hwang" />
                                 <br>황민영
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/17522861_282177152205113_8962991098184110117_n.jpg?oh=8e3d96e417c4590fcb0a63820310311c&oe=59AECE5A" alt="an" />
                                 <br>안지연
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                         <a href="https://likelion.net/" target="_blink" style="text-decoration:none">&copy; Likelion at WKU 2017</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



<script>
  
//좋아요
 $(".like-btn").click(function(){
        var id = this.value;
        var ho = parseInt($("#"+id+"-hidden").val());
        var no = $("#"+id+"-no").val();
        var he = ho+1;
            if(no==0){
               $.ajax({
                    url:'/home/ho',
                    method:"get",
                    data:{"jujum_id":id},
                    success:function(data){
                        $("#"+id+"-count").text(he);
                    },
                    error:function(){
                     }
                })
            }
        });
</script>

    