<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- 네비게이션 -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!--로고그림-->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top"><%=image_tag "wku2.png"%></a>
                <a class="navbar-brand cross" href="#page-top"><%= image_tag "cross.png"%></a>
                <a class="navbar-brand" href="#page-top"><%= image_tag "chong.png"%></a>
            </div>
            
            <!-- 네비게이션 오른쪽 바 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home">
                        <a href="#page-top">홈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#iljung">축제일정</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#lineup">라인업</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nanjang">난장정보</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#jujum">주점정보</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#contact">Won Talk</a>
                    </li>
                </ul>
            </div>
            <!-- 여기가지 네비 오른쪽 바 -->
        </div>
        <!-- 로고 + 오른쪽 바 -->
    </nav>
    <!--네비게이션 끝-->

    <!-- 헤더  -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            
        </div>
    </header>

    <!-- 축제 일정 -->
    <section id="iljung">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>축제일정</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="iljung-div">
                    <div class="iljung-date-div"><p class="btn btn1" rel="div1">5.23(화)</p></div>
                    <div class="iljung-date-div"><p class="btn btn1" rel="div2">5.24(수)</p></div>
                    <div class="iljung-date-div"><p class="btn btn1" rel="div3">5.25(목)</p></div>
                </div>
                <div class="iljung2-div">
                    <div id="div1"  class="iljung-iljung-div">
                        <%= image_tag "cabin.png"%>
                    </div>
                    <div id="div2"  class="iljung-iljung-div">
                        <%= image_tag "cake.png"%>
                    </div>
                    <div id="div3"  class="iljung-iljung-div">
                        <%= image_tag "circus.png"%>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <!-- 라인 업 -->
    <section class="success" id="lineup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>라인업</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="lineup-div">
                    <div class="lineup-date-div"><p class="btn btn2" rel="div1-2">5.23(화)</p></div>
                    <div class="lineup-date-div"><p class="btn btn2" rel="div2-2">5.24(수)</p></div>
                    <div class="lineup-date-div"><p class="btn btn2" rel="div3-2">5.25(목)</p></div>
                </div>
                <div class="lineup2-div">
                    <div id="div1-2"  class="lineup-lineup-div">
                       <a href="https://youtu.be/i1n_1jrUEjU" target="_blank"><%= image_tag "day1.jpg"%></a> 
                    </div>
                    <div id="div2-2"  class="lineup-lineup-div">
                        <a href="https://youtu.be/y2OFPvYxZuY" target="_blank"><%= image_tag "day2.jpg"%></a>
                    </div>
                    <div id="div3-2"  class="lineup-lineup-div">
                        <a href="https://youtu.be/OpTKLNjUdwQ" target="_blank"><%= image_tag "day3.jpg"%></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--난장섹션임.-->
    <section class="success2" id="nanjang">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>난장정보</h2>
              <hr class="star-light">
          </div>
         <div id="map2"></div>
         
         <div class="nanjang-div">
            
            <% for i in 0..3 %>
              <div class="nanjang-row">
              <% for j in 4*i+1..4*i+4 %>
                <div class="nanjang2-div">
                  <p class="btn btn3" rel="div<%=j%>-3" style="color:<%=Nanjang.find(j).color%>; border-color:<%=Nanjang.find(j).color%>; min-width:70px; border-width:1.3px;" value="<%=j%>">
                    <%= Nanjang.find(j).name%>
                  </p>
                </div>
              <% end %>
              </div>
            <% end %>
          </div>
          <div class="nanjang3-div">
            <% for i in 0..3 %>
              <% for j in 4*i+1..4*i+4 %>
                  <div id="div<%= j%>-3"  class="nanjang3-div">
                      <div class="nanjang-img">
                        <%= image_tag "cabin.png"%>
                      </div>
                      <div class="nanjang-introduce">
                        <%= Nanjang.find(j).introduce%>
                      </div>
                    </div>
              <% end %>
            <% end %>
                
          </div>
        </div>
              <!--         
                    <div class="acc">
                      <ul class="nav nav-tabs" style="background-color:pink">
                        <li class="active"><a data-toggle="tab" href="#menu1">난장1번</a></li>
                        <li><a data-toggle="tab" href="#menu2">난장2번</a></li>
                        <li><a data-toggle="tab" href="#menu3">난장3번</a></li>
                        <li><a data-toggle="tab" href="#menu4">난장4번</a></li>
                      </ul>
                    
                      <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                          <h3>난장1번</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                          <h3>난장2번</h3>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                          <h3>난장3번</h3>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu4" class="tab-pane fade">
                          <h3>난장4번</h3>
                          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" style="background-color:pink">
                        <li class="active"><a data-toggle="tab" href="#menu5">난장5번</a></li>
                        <li><a data-toggle="tab" href="#menu6">난장6번</a></li>
                        <li><a data-toggle="tab" href="#menu7">난장7번</a></li>
                        <li><a data-toggle="tab" href="#menu8">난장8번</a></li>
                      </ul>
                    
                      <div class="tab-content">
                        <div id="menu5" class="tab-pane fade in active">
                          <h3>HOME</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu6" class="tab-pane fade">
                          <h3>Menu 1</h3>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu7" class="tab-pane fade">
                          <h3>Menu 2</h3>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu8" class="tab-pane fade">
                          <h3>Menu 3</h3>
                          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" style="background-color:pink">
                        <li class="active"><a data-toggle="tab" href="#menu9">난장9번</a></li>
                        <li><a data-toggle="tab" href="#menu10">난장10번</a></li>
                        <li><a data-toggle="tab" href="#menu11">난장11번</a></li>
                        <li><a data-toggle="tab" href="#menu12">난장12번</a></li>
                      </ul>
                    
                      <div class="tab-content">
                        <div id="menu9" class="tab-pane fade in active">
                          <h3>HOME</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu10" class="tab-pane fade">
                          <h3>Menu 1</h3>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu11" class="tab-pane fade">
                          <h3>Menu 2</h3>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu12" class="tab-pane fade">
                          <h3>Menu 3</h3>
                          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" style="background-color:pink">
                        <li class="active"><a data-toggle="tab" href="#menu13">난장13번</a></li>
                        <li><a data-toggle="tab" href="#menu14">난장14번</a></li>
                        <li><a data-toggle="tab" href="#menu15">난장15번</a></li>
                        <li><a data-toggle="tab" href="#menu16">난장16번</a></li>
                      </ul>
                    
                      <div class="tab-content">
                        <div id="menu13" class="tab-pane fade in active">
                          <h3>HOME</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu14" class="tab-pane fade">
                          <h3>Menu 1</h3>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu15" class="tab-pane fade">
                          <h3>Menu 2</h3>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu16" class="tab-pane fade">
                          <h3>Menu 3</h3>
                          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                    </div>-->
          
      </div>
     
    </section>
    
<!--주점섹션임-->
    <section class="success3" id="jujum">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>주점정보</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
        <!--지도 섹션임-->
        <div id="map"></div>
        <!-- 주점정보 -->
        
        <div class="acc">
          
          <% @jujums.each do |j| %>
            <div class="accordion" id="acc-panel<%=j.id%>-btn">
              <div class="acc-name"><%= j.name%></div>
              <div class="acc-like-down">
                <button class="like-btn"value="<%= j.id%>"><img src="/img/like.png"/></button>              
                <span class="like-count"id="<%= j.id%>-count" value="<%= j.id%>"><%=@merong_count[j.id]%></span>
                &#9662;
              </div>
            </div>
            <div class="panel" id="acc-panel<%= j.id%>" >
              
              <input type="number" id="<%= j.id%>-hidden"value="<%=@merong_count[j.id]%>" style="display:none;"/>
              <input type="hidden" value="<%= @merong_no[j.id]%>" id="<%=j.id%>-no"/>
              <img src="<%=j.image%>"/>
              <div class="panel-theme-div">
                <span>테마</span>
                <%= j.theme %>
              </div>
              <div class="panel-introduce-div">
                <span>소개</span>
                <%= j.introduce %>
              </div>
              <div class="panel-menu-div"> 
                <span>메뉴</span>
              </div>
            </div>
          <% end %>
          
        </div>
    </div>
    </section>



    <!-- 원 토크(won talk) -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="wontalk">Won Talk</h2>
                    <hr id="wontalr-star" class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <!-- sns 기능 -->
                <div id="lv-container" data-id="city" data-uid="MTAyMC8yODU2OC81MTM5">
                <script type="text/javascript">
		window.livereOptions = {
			refer: 'wontop.net'
		};
                (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];
                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                
                e.parentNode.insertBefore(j, e);
                })(document, 'script');
                </script>
                </div>
                <!-- 시티 설치 코드 끝 -->
                </div>
            </div>
        </div>
    </section>
    
    <!-- 풋터 -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        
                    </div>
                    <div class="footer-col col-md-4">
                      <h3>컴퓨터를 모르는 학생들이 <br>프로그래밍 교육을 통해 원하는 <br>IT서비스를 직접 런칭한다.</h3>
                      <a class="likelionlink" href="https://likelion.net/" target="_blank"><img class="btn-social btn-outline" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKFJn-t_y71BDQjbKjGormvFqlJM2HKHcPBjNhA-pnrp88XHLQ" alt="cha" /></a>
                      <h3>멋쟁이사자처럼 at 원광대학교</h3>
                        <h3>Developer</h3>
                        <div class="fb-like" data-href="http://www.wontop.net" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="light"></div>
                        <ul class="list-inline">
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/16114004_1108042159321612_637880479576024445_n.jpg?oh=31d20445e69ce335167a7f4945d76337&oe=59B60599" alt="nam" />
                                 <br>남상현
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/17884116_1155365071258305_7640656070213554283_n.jpg?oh=d7ee30ce75966b0707b12fd1dafbc8e6&oe=597B8AFC" alt="cha" />
                                 <br>차건우
                            </li>
                            
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-1/17800320_1166111836848728_4569011044192407070_n.jpg?oh=2536303c91026ba9b322e1f8f80c856c&oe=5978BF64" alt="myeong" />
                                 <br>이명아
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t31.0-8/14195181_1035093266609323_837459870920167728_o.jpg?oh=8f4ef0bd77e7a9432cb838e5f1c2ab64&oe=59B5ED4F" alt="park" />
                                 <br>박진철
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/16832183_1197176993733617_187007560539027865_n.jpg?oh=3037308b43d0b6bc0536218f1baab46d&oe=59825850" alt="hwang" />
                                 <br>황민영
                            </li>
                            <li>
                                <img class="btn-social btn-outline" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/17522861_282177152205113_8962991098184110117_n.jpg?oh=8e3d96e417c4590fcb0a63820310311c&oe=59AECE5A" alt="an" />
                                 <br>안지연
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                         <a href="https://likelion.net/" target="_blink" style="text-decoration:none">&copy; Likelion at WKU 2017</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=8a952cf2fface3940152207d01807d01"></script>
<script>
  
//좋아요
 $(".like-btn").click(function(){
        var id = this.value;
        var ho = parseInt($("#"+id+"-hidden").val());
        var no = $("#"+id+"-no").val();
        var he = ho+1;
            if(no==0){
               $.ajax({
                    url:'/home/ho',
                    method:"get",
                    data:{"jujum_id":id},
                    success:function(data){
                        $("#"+id+"-count").text(he);
                    },
                    error:function(){
                     }
                })
            }
        });
  
  
    var mapContainer = document.getElementById('map2'), // 지도를 표시할 div 
        mapOption = { 
            center: new daum.maps.LatLng(35.967745, 126.956657), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };  
    
    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    var positions2 = [  // 마커의 위치
      {
         title: '컴퓨터공학과', 
         latlng: new daum.maps.LatLng(35.967668, 126.956657),
         sw: new daum.maps.LatLng(35.967622, 126.956578), // 사각형 영역의 남서쪽 좌표
         ne: new daum.maps.LatLng(35.967696, 126.956710),
         color:"#f09590"
      },
      {
         title: '메롱', 
         latlng: new daum.maps.LatLng(35.967828, 126.956733),
         sw: new daum.maps.LatLng(35.967785, 126.956673), // 사각형 영역의 남서쪽 좌표
         ne: new daum.maps.LatLng(35.967865, 126.956779),
         color:"#95A5C3"

      }
      ]
    

    for(var i=0, len=positions2.length; i<len;i++){
      
       // 지도에 표시할 사각형을 생성합니다
      var rectangleBounds = new daum.maps.LatLngBounds(positions2[i].sw, positions2[i].ne);

      var rectangle = new daum.maps.Rectangle({
          bounds: rectangleBounds, // 그려질 사각형의 영역정보입니다
          strokeWeight: 4, // 선의 두께입니다
          strokeColor: positions2[i].color, // 선의 색깔입니다
          strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
          strokeStyle: 'solid', // 선의 스타일입니다
          fillColor: positions2[i].color, // 채우기 색깔입니다
          fillOpacity: 0.8 // 채우기 불투명도 입니다
      });
      rectangle.setMap(map); 
      
     

    }
    
    for(var i=0, len=positions2.length; i<len;i++){
      var customOverlay = new daum.maps.CustomOverlay({
          position: positions2[i].latlng,
          content: '<div class ="label" style="color:#000; border:none; border-radius:5px; background-color:#fff; opacity:0.7;"><span class="center">'+positions2[i].title+'</span></div>'
      });
      
      // 커스텀 오버레이를 지도에 표시합니다
      customOverlay.setMap(map);
      
    }
    
   
</script>
  
